---
import Alex from "../../assets/avatars/Alex.png";
import Elo from "../../assets/avatars/Elo_contente.png";
import Funa from "../../assets/avatars/Funa.png";
import Gabriel from "../../assets/avatars/Gabriel.png";
import Leona from "../../assets/avatars/Leona.png";
import Thomas from "../../assets/avatars/Thomas.png";
import Zam from "../../assets/avatars/Zam.png";
import { Image } from "astro:assets";
---

<div class="w-full">
  <h2 class="text-4xl font-extrabold text-center mb-6">You, you?</h2>

  <p class="text-center mb-6">Pourquoi pas nous rejoinre? J'ai une idée de fou pour ce visu mais jsp comment le faire</p>

  <div class="grid grid-cols-3 sm:grid-cols-7 gap-4 justify-items-center mb-6">
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Alex" class="hidden" />
      <Image src={Alex} alt="Alex" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Elo" class="hidden" />
      <Image src={Elo} alt="Elo" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Funa" class="hidden" />
      <Image src={Funa} alt="Funa" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Gabriel" class="hidden" />
      <Image src={Gabriel} alt="Gabriel" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Leona" class="hidden" />
      <Image src={Leona} alt="Leona" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Thomas" class="hidden" />
      <Image src={Thomas} alt="Thomas" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="avatar" value="Zam" class="hidden" />
      <Image src={Zam} alt="Zam" class="w-20 h-20 rounded-full object-cover border-2" width={80} height={80} />
    </label>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('nextBtn')?.click()">Start application</button>
  </div>
</div>
