---
const navItems = [
  { icon: "mingcute:home-5-fill", label: "Accueil", href: "/" },
  { icon: "mingcute:heart-hand-fill", label: "Nous rejoindre", href: "/join" }
];

import { Icon } from "astro-icon/components";
---

{navItems.map((item) => (
  <li>
    {item.children ? (
      <details>
        <summary>
            {item.icon && <Icon name={item.icon} />}
            {item.label}</summary>
        <ul>
          {item.children.map((child) => (
            <li><a href={child.href}>
                {child.icon && <Icon name={child.icon} />}
                {child.label}
            </a></li>
          ))}
        </ul>
      </details>
    ) : (
      <a href={item.href}>
        {item.icon && <Icon name={item.icon} />}
        {item.label}
      </a>
    )}
  </li>
))}
